.barna
{
    background-color: rgb(255, 199, 136);
}
.barna2
{
    background-color: rgba(255, 199, 136, 0.76);
}
.barna3
{
    background-color: rgba(255, 199, 136, 0.651);
}
.barna4
{
    background-color: rgba(255, 199, 136, 0.438);
}
.barna5
{
    background-color: rgba(255, 199, 136, 0.336);
}